.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0;
    padding: 0;
}

.textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}