.sidebar {
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
}

.list {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    align-items: flex-start; /* Prevent stretching */
}

.listItem {
    height: auto; /* Let content define height */
    padding: 10px; /* Adjust padding for spacing */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
}
